{%- liquid
  assign social_icons = true
  if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
    assign social_icons = false
  endif
  if section.settings.enable_country_selector or section.settings.enable_language_selector
    assign language_country_selector = true
  endif
-%}

{% style %}
  @media screen and (min-width: 750px) {
    .announcement-bar__message {
      padding: 1.25rem 0;
    }
  }
{% endstyle %}

{% if social_icons %}
  {{ 'component-list-social.css' | asset_url | stylesheet_tag }}
{% endif %}

<div
  class='utility-bar color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} utility-bar--bottom-border{% endif %}{% if section.settings.enable_country_selector or section.settings.enable_language_selector %} header-localization{% endif %}'
  {{ block.shopify_attributes }}
>
  <div class='page-width utility-bar__grid{% if language_country_selector or section.settings.show_social and social_icons %} utility-bar__grid--3-col{% elsif language_country_selector or section.settings.show_social and social_icons %} utility-bar__grid--2-col{% endif %}'>
    {%- if section.settings.show_social and social_icons -%}
      {%- render 'social-icons' -%}
    {%- endif -%}
    <div
      class='announcement-bar{% if section.settings.show_social %} announcement-bar--one-announcement{% endif %}'
      role='region'
      aria-label='{{ 'sections.header.announcement' | t }}'
      {{ block.shopify_attributes }}
    >
      <div class='announcement-bar__content'>
        {% # Add your static HTML content here %}
        <p class='announcement-bar__message h5'>Free shipping on orders over $50!</p>
        {% # End of static HTML content %}
      </div>
    </div>
    <div class='localization-wrapper'>
      {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
        <noscript class='small-hide medium-hide'>
          {%- form 'localization', id: 'AnnouncementCountryMobileFormNoScript', class: 'localization-form' -%}
            <div class='localization-form__select'>
              <h2 class='visually-hidden' id='AnnouncementCountryMobileLabelNoScript'>
                {{ 'localization.country_label' | t }}
              </h2>
              <select
                class='localization-selector link'
                name='country_code'
                aria-labelledby='AnnouncementCountryMobileLabelNoScript'
              >
                {%- for country in localization.available_countries -%}
                  <option
                    value='{{ country.iso_code }}'
                    {%- if country.iso_code == localization.country.iso_code %}
                      selected
                    {% endif %}
                  >
                    {{ country.name }} ({{ country.currency.iso_code }}
                    {{ country.currency.symbol }})
                  </option>
                {%- endfor -%}
              </select>
              {% render 'icon-caret' %}
            </div>
            <button class='button button--tertiary'>{{ 'localization.update_country' | t }}</button>
          {%- endform -%}
        </noscript>

        <localization-form class='small-hide medium-hide no-js-hidden'>
          {%- form 'localization', id: 'AnnouncementCountryForm', class: 'localization-form' -%}
            <div>
              <h2 class='visually-hidden' id='AnnouncementCountryLabel'>{{ 'localization.country_label' | t }}</h2>
              {%- render 'country-localization', localPosition: 'AnnouncementCountry' -%}
            </div>
          {%- endform -%}
        </localization-form>
      {% endif %}

      {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
        <noscript class='small-hide medium-hide'>
          {%- form 'localization', id: 'AnnouncementLanguageMobileFormNoScript', class: 'localization-form' -%}
            <div class='localization-form__select'>
              <h2 class='visually-hidden' id='AnnouncementLanguageMobileLabelNoScript'>
                {{ 'localization.language_label' | t }}
              </h2>
              <select
                class='localization-selector link'
                name='locale_code'
                aria-labelledby='AnnouncementLanguageMobileLabelNoScript'
              >
                {%- for language in localization.available_languages -%}
                  <option
                    value='{{ language.iso_code }}'
                    lang='{{ language.iso_code }}'
                    {%- if language.iso_code == localization.language.iso_code %}
                      selected
                    {% endif %}
                  >
                    {{ language.endonym_name | capitalize }}
                  </option>
                {%- endfor -%}
              </select>
              {% render 'icon-caret' %}
            </div>
            <button class='button button--tertiary'>{{ 'localization.update_language' | t }}</button>
          {%- endform -%}
        </noscript>

        <localization-form class='small-hide medium-hide no-js-hidden'>
          {%- form 'localization', id: 'AnnouncementLanguageForm', class: 'localization-form' -%}
            <div>
              <h2 class='visually-hidden' id='AnnouncementLanguageLabel'>{{ 'localization.language_label' | t }}</h2>
              {%- render 'language-localization', localPosition: 'AnnouncementLanguage' -%}
            </div>
          {%- endform -%}
        </localization-form>
      {%- endif -%}
    </div>
    {% # END Localisation wrapper %}
  </div>
</div>

{% schema %}
{
  "name": "Simple announcement bar",
  "class": "announcement-bar-section",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-4"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.announcement-bar.settings.show_social.label"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": false,
      "label": "t:sections.announcement-bar.settings.enable_country_selector.label"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": false,
      "label": "t:sections.announcement-bar.settings.enable_language_selector.label"
    }
  ],
  "presets": [
    {
      "name": "Simple Announcement Bar"
    }
  ]
}
{% endschema %}
