{%- if section.settings.animations_reveal_on_scroll -%}
  <script src='{{ 'animations.js' | asset_url }}' defer='defer'></script>
{%- endif -%}

{%- style -%}
    #benefits-inline-section-{{ section.id }}.section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

  @media screen and (min-width: 750px) {
        #benefits-inline-section-{{ section.id }}.section-{{ section.id }}-padding {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
  }

  {% if section.settings.border_on_top %}
    #benefits-inline-section-{{ section.id }}{
    border-top: 1px solid rgba(var(--color-foreground), 0.25);
  }
  {% endif %}

  {% if section.settings.border_on_bottom %}
    #benefits-inline-section-{{ section.id }}{
    border-bottom: 1px solid rgba(var(--color-foreground), 0.25);
  }
  {% endif %}

  {% if section.settings.show_eyecatcher_above_section %}
    #benefits-inline-section-{{ section.id }}::before{
        content: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMzAiPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojZmZmO308L3N0eWxlPjwvZGVmcz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Im01MCwwQzI2LjQ2LDAsMjUsMzAsMCwzMGgxMDBDNzUsMzAsNzMuNTQsMCw1MCwwWiIvPjwvc3ZnPg==');
        width: 14.7rem;
        height: 4.4rem;
        top: -7.95rem;
        position: absolute;
        left: 0;
        z-index: 1;
    }
    {% endif %}

  .benefits-section--inner-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.75rem 2rem;
    font-size: 2.6rem;
    font-weight: 700;
    color: rgba(var(--color-foreground), 0.6);
  }

  @media screen and (min-width: 990px) {
    .benefits-section--inner-wrap {
        flex-direction: row;
        gap: 1rem 3rem;
    }
  }

  .benefits-item {
    display: inline-flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    gap: 0.75rem;
  }

  .color-{{ section.settings.color_scheme }} .benefits-item svg {
    fill: rgba(var(--color-foreground), 0.6);
  }
  .benefits-icon svg, .benefit-icon image {
    height: 2.6rem;
    width: auto;
    }
{%- endstyle -%}

<div
  id='benefits-inline-section-{{ section.id }}'
  class='section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} gradient'
  {% if section.settings.animations_reveal_on_scroll %}
    data-cascade
  {% endif %}
>
  <div
    class='benefits-section--inner-wrap page-width {% if section.settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}'
    {% if section.settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    {%- for block in section.blocks -%}
      <div
        class='benefits-item'
        {% if section.settings.animations_reveal_on_scroll %}
          style='--animation-order: {{ forloop.index }};'
        {% endif %}
      >
        <div class='benefits-icon'>
          {% if block.settings.icon_html != blank %}
            {{ block.settings.icon_html }}
          {% else %}
            {% if block.settings.icon_image != blank %}
              {{ block.settings.icon_image | image_url | image_tag }}
            {% endif %}
          {% endif %}
        </div>
        <div class='benefits-title'>
          {{ block.settings.title | escape }}
        </div>
      </div>
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Benefits Inline",
  "tag": "section",
  "class": "benefits-section",
  "max_blocks": 6,
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "animations_reveal_on_scroll",
      "label": "Animate reveal on scroll",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_eyecatcher_above_section",
      "label": "Add eyecatcher above section",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "border_on_top",
      "label": "Add a divider line above the section",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "border_on_bottom",
      "label": "Add a divider line below the section",
      "default": false
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "benefit",
      "name": "t:sections.benefits.blocks.benefit.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Benefit title"
        },
        {
          "type": "header",
          "content": "Icon"
        },
        {
          "type": "paragraph",
          "content": "If the icons appear at the top of the page, add inline svg code as this will load the icon directly in the code meaning it will be seen on page load. If the icon is lower down the page add the icon as a SVG or PNG image."
        },
        {
          "type": "html",
          "id": "icon_html",
          "label": "Add inline SVG icon"
        },
        {
          "type": "image_picker",
          "id": "icon_image",
          "label": "SVG or PNG benefit icon"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Benefits Inline",
      "category": "Custom",
      "blocks": [
        {
          "type": "benefit"
        }
      ]
    }
  ]
}
{% endschema %}
