{%- style -%}
  .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
          padding-top: {{ section.settings.padding_top }}px;
          padding-bottom: {{ section.settings.padding_bottom }}px;
      }
  }
{%- endstyle -%}

<div
  id='section-{{ section.id }}'
  class='section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} gradient'
>
  <div
    class='page-width{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} tw-grid tw-grid-cols-1 lg:tw-grid-cols-3 tw-gap-8 lg:tw-gap-16'
  >
    {% for block in section.blocks %}
      {% # .contact-info-grid-item # %}
      <div
        class='contact-info-grid-item tw-px-12 tw-py-16 tw-flex tw-flex-row lg:tw-flex-col tw-gap-8 tw-border tw-border-solid tw-rounded-md'
        {{ block.shopify_attributes }}
        {% if settings.animations_reveal_on_scroll %}
          data-cascade
          style='--animation-order: {{ forloop.index }};'
        {% endif %}
      >
        {% if block.settings.icon != blank %}
          <div class='contact-info-grid-item__icon'>
            {{
              block.settings.icon
              | image_url: width: 256
              | image_tag:
                width: block.settings.icon.width,
                height: block.settings.icon.height,
                sizes: '100vw',
                widths: '50, 75, 100, 150, 200, 256',
                class: 'tw-h-12 tw-w-auto'
            }}
          </div>
        {% endif %}
        <div class='contact-info-grid-item__content'>
          {% if block.settings.title != blank %}
            <div class='contact-info-grid-item__title h3 tw-mb-2'>{{ block.settings.title }}</div>
          {% endif %}
          {% if block.settings.content != blank %}
            <div class='contact-info-grid-item__text'>{{ block.settings.content }}</div>
          {% endif %}
        </div>
      </div>
      {% # END .contact-info-grid-item %}
    {% endfor %}
  </div>
  {% # END .page-width .tw-grid %}
</div>
{% # END #section-{{ section.id }} %}

{% schema %}
{
  "name": "t:sections.contact-info-grid.name",
  "max_blocks": 6,
  "class": "contact-info-grid-section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.contact-info-grid.settings.paragraph.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "contact_info_grid_item",
      "name": "t:sections.contact-info-grid.blocks.contact_info_grid_item.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "t:sections.contact-info-grid.blocks.contact_info_grid_item.settings.icon.label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.contact-info-grid.blocks.contact_info_grid_item.settings.title.label",
          "default": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.contact-info-grid.blocks.contact_info_grid_item.settings.content.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-info-grid.presets.name",
      "category": "Custom",
      "blocks": [
        {
          "type": "contact_info_grid_item"
        }
      ]
    }
  ]
}
{% endschema %}
