{%- style -%}
    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }

    #faq-toc-inner {
        border: 1px solid #999;
        margin-top: 1rem 2rem;
        padding: 1rem 2rem;
        border-radius: 4px;
        margin-bottom: 2rem;
    }

    #faq-toc {{ section.settings.faq_title_tag }} {
      margin-bottom: 1rem;
    }

    #faq-toc ul {
      margin-bottom: 0;
    }

    #faq-toc li a {
        text-decoration: none;
    }
    .faq-question {
        margin-bottom: 2rem;
    }
    @media screen and (min-width: 750px) {
    .faq-question {
        margin-bottom: 2.5rem;
    }
  }
{%- endstyle -%}

<div
  id='faq-section-{{ section.id }}'
  class='section-{{ section.id }}-padding'
>
  <div class='page-width{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}'>
    {% # Table of Contents %}
    <div id='faq-toc'>
      {% assign faq_title_tag = section.settings.faq_title_tag %}
      <{{ faq_title_tag }}>
        {{- section.settings.faq_title | escape -}}
      </{{ faq_title_tag }}>

      {% if section.settings.toc_show %}
        <div id='faq-toc-inner'>
          <ul>
            {% for block in section.blocks %}
              <li>
                <a href='#{{ block.id }}'>{{ block.settings.question }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        {% # END #faq-toc-inner %}
      {%- endif -%}
    </div>

    {% # FAQ Questions %}
    {% for block in section.blocks %}
      <div id='{{ block.id }}' class='faq-question'>
        {% assign question_tag = section.settings.question_tag %}
        <{{ question_tag }}>
          {{- block.settings.question | escape -}}
        </{{ question_tag }}>

        {% if block.settings.answer_richtext %}
          {{- block.settings.answer_richtext -}}
        {% endif %}
        {% if block.settings.answer_liquid %}
          {{- block.settings.answer_liquid -}}
        {% endif %}
      </div>
    {% endfor %}
  </div>
  {% # END .page-width %}
</div>
{%- if section.settings.enable_faq_schema -%}
  <script type='application/ld+json'>
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [
        {% for block in section.blocks %}
        {
          "@type": "Question",
          "name": {{ block.settings.question | json }},
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "{{ block.settings.answer_richtext | strip_html }} {{ block.settings.answer_liquid | strip_html }}"
          }
        }{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ]
    }
  </script>
{%- endif -%}
{% # END #faq-section-{{ section.id }} %}

{% schema %}
{
  "name": "t:sections.faq.name",
  "max_blocks": 25,
  "class": "faq-section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "faq_title",
      "label": "t:sections.faq.settings.faq_title.label",
      "default": "FAQ:"
    },
    {
      "type": "select",
      "id": "faq_title_tag",
      "label": "t:sections.faq.settings.faq_title_tag.label",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "P"
        }
      ],
      "default": "h3"
    },
    {
      "type": "checkbox",
      "id": "toc_show",
      "label": "t:sections.faq.settings.toc_show.label",
      "default": true
    },
    {
      "type": "select",
      "id": "question_tag",
      "label": "t:sections.faq.settings.question_tag.label",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "P"
        }
      ],
      "default": "h4"
    },
    {
      "type": "checkbox",
      "id": "enable_faq_schema",
      "label": "t:sections.faq.settings.enable_faq_schema.label",
      "default": false
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "faq_item",
      "name": "t:sections.faq.blocks.faq_item.name",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "t:sections.faq.blocks.faq_item.settings.question.label",
          "default": "Your Question Here"
        },
        {
          "type": "paragraph",
          "content": "t:sections.faq.blocks.faq_item.settings.paragraph.content"
        },
        {
          "type": "richtext",
          "id": "answer_richtext",
          "label": "t:sections.faq.blocks.faq_item.settings.answer_richtext.label"
        },
        {
          "type": "liquid",
          "id": "answer_liquid",
          "label": "t:sections.faq.blocks.faq_item.settings.answer_liquid.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.faq.presets.name",
      "category": "Custom",
      "blocks": [
        {
          "type": "faq_item"
        }
      ]
    }
  ]
}
{% endschema %}
