{{ 'section-hero-home-page.min.css' | asset_url | stylesheet_tag: preload: true }}

{%- style -%}
  .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 1 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 1 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
          padding-top: {{ section.settings.padding_top }}px;
          padding-bottom: {{ section.settings.padding_bottom }}px;
      }
  }
{%- endstyle -%}
<div
  id='section-{{ section.id }}'
  class='section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} gradient {% if section.settings.border_on_top %} tw-border-t {% endif %}{% if section.settings.border_on_bottom %} tw-border-b {% endif %}'
  {% if section.settings.animations_reveal_on_scroll %}
    data-cascade
  {% endif %}
>
  <div id='home_hero' class='hero page-width tw-overflow-hidden'>
    {% # Hero Grid %}
    <div class='hero__container tw-grid tw-grid-cols-1 lg:tw-grid-cols-2 tw-content-start tw-gap-12'>
      <div class='tw-gap-12 tw-flex tw-flex-col'>
        <div class='hero__heading'>{{ section.settings.heading }}</div>
        <div class='hero__subtext'>{{ section.settings.subtext }}</div>
        <div
          class='hero__slider hero__slider--sm lg:tw-invisible lg:tw-hidden color-{{ section.settings.card_color_scheme }} gradient tw-bg-transparent tw-overflow-hidden'
        >
          {% assign block_count = 0 %}
          {% for block in section.blocks %}
            {% assign block_count = block_count | plus: 1 %}
          {% endfor %}
          <div
            class='hero-scroll-inner tw-w-full tw-flex '
            style='--scroll-direction:scroll-left; --scroll-speed: {{ section.settings.sm_slide_scroll_speed }}s; --number-of-slides: {{ block_count }};'
          >
            {% for i in (1..2) %}
              <div class='hero-slider__wrap tw-flex'>
                {% for block in section.blocks %}
                  {% render 'home-hero-slide',
                    forloop_index: forloop.index,
                    image: block.settings.slide_image,
                    title: block.settings.slide_title
                  %}
                {% endfor %}
              </div>
              {% # END .hero-slider__wrap %}
            {% endfor %}
          </div>
        </div>

        <div class='hero__cta'>
          {% comment %}
            Has an idea of making the link clickable, but changed to to
             <a
               href='{{ section.settings.button_url }}'
               style='color:#fff;background:#6dab3c;text-align: center; min-width: 30%;padding: 1em 3em;font-size: 1.65em;display:inline-table;border-radius: 0.4em;font-weight:600'
             >
               {{ section.settings.button_text }}
             </a>
          {% endcomment %}
          <button style='color:#fff;background:#6dab3c;text-align: center; min-width: 30%;padding: 1em 3em;font-size: 1.65em;display:inline-table;border-radius: 0.4em;font-weight:600'>
            {{ section.settings.button_text }}
          </button>
        </div>
        <div class='hero__reviewsio tw-mb-16'>{{ section.settings.reviewsio }}</div>
      </div>
      {% # START Second column %}

      <div
        class='hero__slider hero__slider--lg tw-invisible tw-hidden lg:tw-visible lg:tw-flex tw-gap-12 xlg:tw-gap-14 tw-overflow-hidden tw-h-[48rem] xlg:tw-h-[46rem]'
      >
        <div
          class='hero-scroll-inner tw-w-full tw-flex tw-flex-col'
          style='--scroll-direction:scroll-up; --scroll-speed: {{ section.settings.lg_slide_scroll_speed_left_column }}s; --number-of-slides: {{ section.settings.slide_divide_number }}'
        >
          {% for i in (1..2) %}
            <div class='hero-slider__wrap tw-flex tw-flex-col'>
              {% for block in section.blocks %}
                {% if forloop.index <= section.settings.slide_divide_number %}
                  {% render 'home-hero-slide',
                    forloop_index: forloop.index,
                    image: block.settings.slide_image,
                    title: block.settings.slide_title
                  %}
                {% endif %}
              {% endfor %}
            </div>
            {% # END .hero-slider__wrap %}
          {% endfor %}
        </div>
        {%- liquid
          assign right_column_block_count = block_count | minus: section.settings.slide_divide_number
        -%}
        <div
          class='hero-scroll-inner tw-w-full tw-flex tw-flex-col'
          style='--scroll-direction:scroll-down; --scroll-speed: {{ section.settings.lg_slide_scroll_speed_right_column }}s; --number-of-slides: {{ right_column_block_count }};'
        >
          {% for i in (1..2) %}
            <div class='hero-slider__wrap tw-flex tw-flex-col'>
              {% for block in section.blocks %}
                {% if forloop.index > section.settings.slide_divide_number %}
                  {% render 'home-hero-slide',
                    forloop_index: forloop.index,
                    image: block.settings.slide_image,
                    title: block.settings.slide_title
                  %}
                {% endif %}
              {% endfor %}
            </div>
            {% # END .hero-slider__wrap %}
          {% endfor %}
        </div>
      </div>
    </div>
    {% # END Hero__Container %}
  </div>
  {% # END Home_hero %}
</div>
{% # END #section-ID %}
{% comment %}
  Couldn't get the css overwrite to slide the translateX & Y function to work so leaving out for now */
   <script src='{{ 'hero__home-page.min.js' | asset_url }}' defer='defer'></script>
{% endcomment %}

{% schema %}
{
  "name": "t:sections.hero-home-page.name",
  "tag": "section",
  "class": "hero-home-page-section",
  "max_blocks": 20,
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "animations_reveal_on_scroll",
      "label": "t:sections.benefits-inline.settings.animations_reveal_on_scroll.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "border_on_top",
      "label": "t:sections.benefits-inline.settings.border_on_top.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "border_on_bottom",
      "label": "t:sections.benefits-inline.settings.border_on_bottom.label",
      "default": false
    },
    {
      "type": "liquid",
      "id": "heading",
      "label": "t:sections.hero-home-page.settings.heading.label",
      "default": "<h1 class='tw-bold'>Oh Crap <span style='color:#6dab3c'>Compostable Dog Poop Bags</span>.</h1>"
    },
    {
      "type": "liquid",
      "id": "subtext",
      "label": "t:sections.hero-home-page.settings.subtext.label",
      "default": "<h2>Australia's Award Winning<br>No 1 <span style='color:#6dab3c'>Non-Plastic</span> Dog Poop Bag.</h2>"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "t:sections.hero-home-page.settings.button_text.label",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "t:sections.hero-home-page.settings.button_url.label"
    },
    {
      "type": "liquid",
      "id": "reviewsio",
      "label": "t:sections.hero-home-page.settings.reviewsio.label",
      "info": "t:sections.hero-home-page.settings.reviewsio.info",
      "default": "4.9/5"
    },
    {
      "type": "range",
      "id": "sm_slide_scroll_speed",
      "min": 1,
      "max": 25,
      "step": 1,
      "unit": "s",
      "label": "t:sections.hero-home-page.settings.sm_slide_scroll_speed.label",
      "default": 7
    },
    {
      "type": "number",
      "id": "slide_divide_number",
      "label": "t:sections.hero-home-page.settings.slide_divide_number.label",
      "info": "t:sections.hero-home-page.settings.slide_divide_number.info",
      "default": 8
    },
    {
      "type": "range",
      "id": "lg_slide_scroll_speed_left_column",
      "min": 1,
      "max": 25,
      "step": 1,
      "unit": "s",
      "label": "t:sections.hero-home-page.settings.lg_slide_scroll_speed_left_column.label",
      "default": 12
    },
    {
      "type": "range",
      "id": "lg_slide_scroll_speed_right_column",
      "min": 1,
      "max": 25,
      "step": 1,
      "unit": "s",
      "label": "t:sections.hero-home-page.settings.lg_slide_scroll_speed_right_column.label",
      "default": 12
    },
    {
      "type": "header",
      "content": "t:sections.hero-home-page.settings.header-card-settings.content"
    },
    {
      "type": "color_scheme",
      "id": "card_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.hero-home-page.settings.header-padding-settings.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "header",
      "content": "t:sections.hero-home-page.settings.header-slide-settings.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.hero-home-page.settings.paragraph-slide-settings.content"
    },
    {
      "type": "color_scheme",
      "id": "slide_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color",
      "id": "slide_background_color",
      "label": "t:sections.hero-home-page.settings.slide_background_color.label",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "slider",
      "name": "t:sections.hero-home-page.blocks.slider.name",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.hero-home-page.blocks.slider.settings.header-slider-settings.content"
        },
        {
          "type": "text",
          "id": "slide_title",
          "label": "t:sections.hero-home-page.blocks.slider.settings.slide_title.label",
          "info": "t:sections.hero-home-page.blocks.slider.settings.slide_title.info"
        },
        {
          "type": "image_picker",
          "id": "slide_image",
          "label": "t:sections.hero-home-page.blocks.slider.settings.slide_image.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.hero-home-page.presets.name",
      "category": "Custom",
      "blocks": [
        {
          "type": "slider"
        }
      ]
    }
  ]
}
{% endschema %}
