{{ 'swiperStyles.min.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
          padding-top: {{ section.settings.padding_top }}px;
          padding-bottom: {{ section.settings.padding_bottom }}px;
      }
  }
{%- endstyle -%}
<div
  id='section-{{ section.id }}'
  class='section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} gradient {% if section.settings.border_on_top %} tw-border-t {% endif %}{% if section.settings.border_on_bottom %} tw-border-b {% endif %}'
  {% if section.settings.animations_reveal_on_scroll %}
    data-cascade
  {% endif %}
>
  <div class='hero page-width'>
    {% # Hero Grid %}
    <div class='hero__container tw-grid lg:tw-grid-rows-4 lg:tw-grid-flow-col lg:tw-grid-cols-2 tw-justify-evenly tw-items-start tw-gap-12'>
      <div class='hero__title'>{{ section.settings.title }}</div>
      <div class='hero__subtext'>{{ section.settings.subtext }}</div>
      {% for block in section.blocks %}
        <div
          class='hero__slider--slide lg:tw-row-span-4 color-{{ section.settings.card_color_scheme }} gradient'
          {{ block.shopify_attributes }}
        >
          {% # Swiper %}
          <div class='swiper hero__swiper'>
            <div class='swiper-wrapper'>
              {%- liquid
                assign sizes = '100vw'
                assign widths = '375, 550, 750, 1100, 1500'
                assign image_classes = 'hero__slider--image'
                assign height = block.settings[image_setting].width | divided_by: block.settings[image_setting].aspect_ratio | round
                assign fetch_priority = 'auto'
                if section.index == 1 and forloop.first
                  assign fetch_priority = 'high'
                endif
              -%}
              <div class='swiper-slide'>
                {{
                  block.settings[image_setting]
                  | image_url: width: 1500
                  | image_tag:
                    height: height,
                    class: image_classes,
                    sizes: sizes,
                    widths: widths,
                    fetchpriority: fetch_priority
                }}
                <div class='tw-center'>{{ block.settings.slide_title }}</div>
              </div>
            </div>
            {% # Add Navigation %}
            <div class='swiper-button-next'></div>
            <div class='swiper-button-prev'></div>
          </div>
          {% # END Swiper %}
        </div>
      {% endfor %}
      <div class='hero__cta'>
        <a href='#bags' class='button'>Shop Now</a>
      </div>
      <div class='hero__reviewsio'>{{ section.settings.reviewsio }}</div>
    </div>
    {% # END Slider %}
  </div>
</div>
{% # END #section-ID %}
{% # I am sure this can be imporved with modules %}
<script src='{{ 'swiper-bundle.min.js' | asset_url }}' defer='defer'></script>
<script src='{{ 'highlighted_products.min.js' | asset_url }}' defer='defer'></script>

{% schema %}
{
  "name": "Home Page Hero",
  "tag": "section",
  "class": "hero-home-page-section",
  "max_blocks": 10,
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "animations_reveal_on_scroll",
      "label": "t:sections.benefits-inline.settings.animations_reveal_on_scroll.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "border_on_top",
      "label": "t:sections.benefits-inline.settings.border_on_top.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "border_on_bottom",
      "label": "t:sections.benefits-inline.settings.border_on_bottom.label",
      "default": false
    },
    {
      "type": "liquid",
      "id": "title",
      "label": "Title (Liquid)",
      "default": "<h1>Oh Crap <span style='color:#6dab3c'>Compostable Dog Poop Bags</span>.</h1>"
    },
    {
      "type": "liquid",
      "id": "subtext",
      "label": "Add an elevator pictch about your highlighted products here.",
      "default": "<h2>Australia's Award Winning<br>No 1 <span style='color:#6dab3c'>Non-Plastic</span> Dog Poop Bag.</h2>"
    },
    {
      "type": "liquid",
      "id": "reviewsio",
      "label": "Reviews.io Script (liquid)",
      "default": "4.9/5"
    },
    {
      "type": "header",
      "content": "Card Settings"
    },
    {
      "type": "color_scheme",
      "id": "card_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color",
      "id": "card_background_color",
      "label": "Card Background Color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "card_padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding",
      "default": 36
    },
    {
      "type": "header",
      "content": "Padding Settings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "header",
      "content": "Slide Settings"
    },
    {
      "type": "paragraph",
      "content": "Select the color scheme for the slides below."
    },
    {
      "type": "color_scheme",
      "id": "slide_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color",
      "id": "slide_background_color",
      "label": "Card Background Color",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "slider",
      "name": "Slider Image",
      "settings": [
        {
          "type": "header",
          "content": "Slider Settings"
        },
        {
          "type": "text",
          "id": "slide_title",
          "label": "Slide Title",
          "info": "Enter name of the dog or Insta username here to give them credit for the photo."
        },
        {
          "type": "image_picker",
          "id": "slide_image",
          "label": "Slide Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home Page Hero",
      "category": "Custom",
      "blocks": [
        {
          "type": "slider"
        }
      ]
    }
  ]
}
{% endschema %}
