{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  #infinite-scrolling-text-section-{{ section.id }} {
    text-transform: {{ section.settings.text_transform }};
  }

  .infinite-scrolling-text__text-item {
        font-size: {{ section.settings.font_size }}rem;
        font-weight: {{ section.settings.font_weight }};
        padding: 0 {{  section.settings.text_padding_x }}px;
  }
  /* Apply the animation to the text items */
  .infinite-scrolling-text__inner > div {
      animation: var(--direction) var(--marquee-speed) linear infinite;
  }

  @media (prefers-reduced-motion: reduce) {
    .infinite-scrolling-text__inner > div {
      animation: none !important;
    }
    .infinite-scrolling-text__inner {
      justify-content: center;
    }
  }

  /* Pause the animation when a user hovers over it */
  .infinite-scrolling-text:hover .infinite-scrolling-text__inner > div {
      animation-play-state: paused;
  }

  /* Setting the Animation using Keyframes */
  @keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
  }

  @keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
  }
{%- endstyle -%}

<div
  id='infinite-scrolling-text-section-{{ section.id }}'
  class='section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} gradient {% if section.settings.border_on_top %} tw-border-t {% endif %}{% if section.settings.border_on_bottom %} tw-border-b {% endif %}'
>
  <div class='infinite-scrolling-text'>
    <div
      class='infinite-scrolling-text__inner tw-flex tw-flex-row tw-items-center tw-overflow-x-hidden'
      style='--marquee-speed: {{ section.settings.marquee_speed }}s; --direction:scroll-{{ section.settings.scroll_direction }}'
      role='marquee'
    >
      {% for i in (1..3) %}
        <div class='infinite-scrolling-text__content tw-flex tw-flex-row tw-items-center tw-whitespace-nowrap'>
          {% for block in section.blocks %}
            <div
              class='infinite-scrolling-text__text-item'
            >
              {{ block.settings.text_item }}
            </div>
            {% if section.settings.show_divider_icon == true %}
              <svg
                viewBox='0 0 6 6'
                fill='none'
                class='tw-icon tw-w-1.5 tw-h-1.5'
                xmlns='http://www.w3.org/2000/svg'
              >
                <path d="M3.008 0c.483.01.503.22.864.328.36.108.653.03.903.202.249.172.326.517.58.827.252.311.474.362.599.666.125.303-.054.695-.047 1.02.006.323.165.556.054.9-.112.345-.398.375-.607.68-.209.303-.215.543-.458.759-.243.216-.738.169-1.038.28-.3.112-.491.335-.85.338-.359.003-.618-.277-.878-.344-.26-.068-.774-.068-1.007-.277-.232-.21-.29-.55-.445-.743-.155-.192-.58-.449-.657-.783-.077-.334.081-.486.091-.925.01-.44-.165-.419-.084-.794.08-.374.502-.533.67-.827.169-.293.256-.577.482-.736.226-.159.73-.152 1.007-.256.276-.105.492-.322.82-.315Z" fill="currentColor"></path>
              </svg>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
    {% # END .infinite-scrolling-text__inner %}
  </div>
  {% # END .infinite-scrolling-text %}
</div>
{% # END #infinite-scrolling-text-section-{{ section.id }} %}

{% schema %}
{
  "name": "t:sections.infinite-scrolling-text.name",
  "max_blocks": 25,
  "class": "infinite-scrolling-text-section",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "animations_reveal_on_scroll",
      "label": "t:sections.benefits-inline.settings.animations_reveal_on_scroll.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "border_on_top",
      "label": "t:sections.benefits-inline.settings.border_on_top.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "border_on_bottom",
      "label": "t:sections.benefits-inline.settings.border_on_bottom.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_divider_icon",
      "label": "t:sections.infinite-scrolling-text.settings.show_divider_icon.label",
      "default": true
    },
    {
      "type": "range",
      "id": "font_size",
      "label": "t:sections.infinite-scrolling-text.settings.font_size.label",
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem",
      "default": 3
    },
    {
      "type": "range",
      "id": "font_weight",
      "label": "t:sections.infinite-scrolling-text.settings.font_size.label",
      "min": 100,
      "max": 800,
      "step": 100,
      "default": 700
    },
    {
      "type": "select",
      "id": "text_transform",
      "label": "t:sections.infinite-scrolling-text.settings.text_transform.label",
      "options": [
        {
          "value": "inherit",
          "label": "t:sections.infinite-scrolling-text.settings.text_transform.options__1.label"
        },
        {
          "value": "uppercase",
          "label": "t:sections.infinite-scrolling-text.settings.text_transform.options__2.label"
        }
      ],
      "default": "inherit"
    },
    {
      "type": "range",
      "id": "text_padding_x",
      "label": "t:sections.infinite-scrolling-text.settings.text_padding_x.label",
      "min": 6,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 25
    },
    {
      "type": "range",
      "id": "marquee_speed",
      "label": "t:sections.infinite-scrolling-text.settings.marquee_speed.label",
      "min": 6,
      "max": 100,
      "step": 1,
      "unit": "s",
      "default": 40
    },
    {
      "type": "select",
      "id": "scroll_direction",
      "label": "t:sections.infinite-scrolling-text.settings.scroll_direction.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.infinite-scrolling-text.settings.scroll_direction.options__1.label"
        },
        {
          "value": "right",
          "label": "t:sections.infinite-scrolling-text.settings.scroll_direction.options__2.label"
        }
      ],
      "default": "left"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "text_item",
      "name": "t:sections.infinite-scrolling-text.blocks.text_item.name",
      "settings": [
        {
          "type": "text",
          "id": "text_item",
          "label": "t:sections.infinite-scrolling-text.blocks.text_item.settings.text_item.label",
          "default": "Your Question Here"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:presets.infinite-scrolling-text.presets.name",
      "blocks": [
        {
          "type": "text_item"
        }
      ]
    }
  ]
}
{% endschema %}
