{% if show_pre_footer == true %}
  {%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
  {%- endstyle -%}

  {%- assign content_width_class = 'page-width' -%}
  {%- case section.settings.section_content_width -%}
    {%- when 'narrow' -%}
      {%- assign content_width_class = 'page-width page-width--narrow' -%}
    {%- when 'full_width' -%}
      {%- assign content_width_class = '' -%}
  {%- endcase -%}

  <div
    class='pre-footer section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }} {% if section.settings.border_on_top %} tw-border-t {% endif %}{% if section.settings.border_on_bottom %} tw-border-b {% endif %}'
    {% if section.settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    <div class='pre-footer__inner {{ content_width_class }}'>
      {% for block in section.blocks %}
        {% case block.type %}
          {%- when 'custom_liquid' -%}
            {{ block.settings.custom_liquid }}
        {% endcase %}
      {% endfor %}
      {% comment %}
        {% assign current_time = 'now' | date: '%s' %}
        {% assign start_of_day = 'now' | date: '%Y-%m-%d 00:00:00' | date: '%s' %}
        {% assign seconds_today = current_time | minus: start_of_day %}

        <p>Seconds passed today: {{ seconds_today }}</p>

        {% assign poop_bags_per_day = 6200000 %}
        {% assign days_in_month = 'now' | date: '%d' %}
        {% assign poop_bags_used_so_far = poop_bags_per_day | times: days_in_month %}
        {{ poop_bags_per_day }}
        {{ poop_bags_used_so_far }}
        {% if section.settings.content %}
          <div class='tw-text-base tw-leading-relaxed'>
            {{ section.settings.content }}
          </div>
        {% endif %}
      {% endcomment %}
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "t:sections.pre-footer.name",
  "max_blocks": 9,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_pre_footer",
      "label": "t:sections.pre-footer.settings.show_pre_footer.label",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "animations_reveal_on_scroll",
      "label": "t:sections.benefits-inline.settings.animations_reveal_on_scroll.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "border_on_top",
      "label": "t:sections.benefits-inline.settings.border_on_top.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "border_on_bottom",
      "label": "t:sections.benefits-inline.settings.border_on_bottom.label",
      "default": false
    },
    {
      "type": "select",
      "id": "section_content_width",
      "label": "t:sections.all.section_content_width.label",
      "options": [
        {
          "label": "t:sections.all.section_content_width.options__1.label",
          "value": "full_width"
        },
        {
          "label": "t:sections.all.section_content_width.options__2.label",
          "value": "page_width"
        },
        {
          "label": "t:sections.all.section_content_width.options__3.label",
          "value": "narrow"
        }
      ],
      "default": "page_width"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "custom_liquid",
      "name": "t:sections.custom-liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.custom-liquid.settings.custom_liquid.label",
          "info": "t:sections.custom-liquid.settings.custom_liquid.info"
        }
      ]
    }
  ]
}
{% endschema %}
