{%- if product.metafields.custom.product_faqs -%}
  {{ 'component-accordion.css' | asset_url | stylesheet_tag }}

  {%- style -%}
    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }

    #faq-section-{{ section.id }} .faq-section__toc-inner {
        border-color: rgba(var(--color-foreground), 0.8);
    }
    .faq-section__item:last-child {
        margin-bottom: 0 !important;
    }
    {% if section.settings.show_items_in_collapsiable_content == true %}
      .faq-collapsible-content .accordion{
        margin-top: 0;
      }
      .faq-collapsible-content .accordion + .faq-section__subsection-title{
        margin: 3rem 0 1rem;
      }
      .faq-collapsible-content .faq-section__question:hover{
        background: rgba(var(--color-foreground), 0.04);
        text-decoration: underline;
        text-underline-offset: 0.3rem;
      }
    {% endif %}
  {%- endstyle -%}

  {%- assign content_width_class = 'page-width' -%}
  {%- case section.settings.section_content_width -%}
    {%- when 'narrow' -%}
      {%- assign content_width_class = 'page-width page-width--narrow' -%}
    {%- when 'full_width' -%}
      {%- assign content_width_class = '' -%}
  {%- endcase -%}

  <div
    id='faq-section-{{ section.id }}'
    class='section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }}'
  >
    <div class='{{ content_width_class }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}{%- if section.settings.show_items_in_collapsiable_content == true %} faq-collapsible-content{% endif %}'>
      {% # FAQ Questions %}
      {% assign includes_hidden_faq = false %}
      {% for faq in product.metafields.custom.product_faqs.value %}
        <div class='accordion'>
          <details id='faq-{{ faq.id }}' class='faq-section__item tw-mb-8 md:tw-mb-10'>
            <summary id='Summary-faq-{{ faq.id }}' class='faq-section__question'>
              <h3>{{ faq.question | escape }}</h3>
              {{- 'icon-caret.svg' | inline_asset_content -}}
            </summary>
            <div class='faq-section__answer tw-pb-6' role='region' aria-labelledby='Summary-faq-{{ faq.id }}'>
              {{ faq.answer | metafield_tag }}
              {{ faq.raw_html_answer }}
            </div>
          </details>
        </div>
      {% endfor %}
    </div>
  </div>

  {% # JSON-LD for FAQ Schema %}
  <script type='application/ld+json'>
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [
        {%- for faq in product.metafields.custom.product_faqs.value -%}
        {
          "@type": "Question",
          "name": {{ faq.question | json }},
          "acceptedAnswer": {
            "@type": "Answer",
            "text": {{ faq.answer | strip_html | json }}
          }
        }{%- unless forloop.last -%},{%- endunless -%}
        {%- endfor -%}
      ]
    }
  </script>

  {% if section.settings.show_items_in_collapsiable_content == true %}
    <script src='{{ 'faq.min.js' | asset_url }}' defer='defer'></script>
  {% endif %}
{%- endif -%}

{% schema %}
{
  "name": "Product FAQ Section",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "section_content_width",
      "label": "t:sections.all.section_content_width.label",
      "options": [
        {
          "label": "t:sections.all.section_content_width.options__1.label",
          "value": "full_width"
        },
        {
          "label": "t:sections.all.section_content_width.options__2.label",
          "value": "page_width"
        },
        {
          "label": "t:sections.all.section_content_width.options__3.label",
          "value": "narrow"
        }
      ],
      "default": "page_width"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Product FAQ Section",
      "category": "Product"
    }
  ]
}
{% endschema %}
