{% if product.metafields.custom.product_image_and_text_benefits %}
  <style>
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }
    .product_benefits__page-width-wrapper{
      max-width: {{ section.settings.custom_page_width }}px;
    }
    .benefit-image{
      border: solid 1px #fafafa;
    }
    {%- if section.settings.icon_image != blank -%}
    @media (max-width: 989px) {
      .paw, .paw2 {
        display: none; /* Hides paw prints on smaller devices */
      }
    }
    .product-benefits__iconography_wrapper.paw-position-1 .paw{
      top: -24px;
      left: -15px;
      transform: rotate(15deg);
    }
    .product-benefits__iconography_wrapper.paw-position-1 .paw2{
      bottom: -7px;
      right: -15px;
      transform: rotate(15deg);
    }
    .product-benefits__iconography_wrapper.paw-position-2 .paw{
      top: 35%;
      left: -25px;
      transform: rotate(-5deg);
    }
    .product-benefits__iconography_wrapper.paw-position-2 .paw2{
      top: 50%;
      right: -25px;
      transform: rotate(5deg);
    }
    .product-benefits__iconography_wrapper.paw-position-3 .paw{
      top: 60%;
      left: -25px;
      transform: rotate(-5deg);
    }
    .product-benefits__iconography_wrapper.paw-position-3 .paw2{
      top: 35%;
      right: -25px;
      transform: rotate(5deg);
    }
    .product-benefits__iconography_wrapper.paw-position-4 .paw{
      bottom: -5px;
      left: -22px;
      transform: rotate(-15deg);
    }
    .product-benefits__iconography_wrapper.paw-position-4 .paw2{
      top: -22px;
      right: -22px;
      transform: rotate(15deg);
    }
    {%- endif -%}
  </style>

  <div
    id='faq-section-{{ section.id }}'
    class='section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }}'
  >
    <div class='page-width product_benefits__page-width-wrapper'>
      {% for benefit in product.metafields.custom.product_image_and_text_benefits.value %}
        <div class='benefit-section tw-flex tw-flex-col md:tw-flex-row tw-items-center tw-mb-16 md:tw-mb-24 lg:tw-mb-40 {% if section.settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}'>
          {%- if benefit.image != blank -%}
            <div class='benefit-image {% cycle 'md:tw-mr-10 lg:tw-mr-24', 'md:tw-order-2' %} tw-bg-white tw-flex-none tw-w-full md:tw-w-[38.5%] tw-mb-8 md:tw-mb-0 tw-grid tw-justify-items-center tw-relative'>
              {%- if section.settings.icon_image != blank -%}
                <div class='product-benefits__iconography_wrapper {% cycle 'paw-position-1', 'paw-position-2', 'paw-position-3', 'paw-position-4' %}'>
                  {%- liquid
                    assign sizes = '100vw'
                    assign widths = '128'
                    assign image_classes = 'tw-m-0 tw-max-w-16 tw-max-h-16 product-benefits__iconography paw tw-w-full tw-absolute'
                    assign fetch_priority = 'auto'
                    assign lazy_loading = 'lazy'
                  -%}
                  {{
                    section.settings.icon_image
                    | image_url: width: '128'
                    | image_tag:
                      class: image_classes,
                      sizes: sizes,
                      widths: widths,
                      fetchpriority: fetch_priority,
                      loading: lazy_loading,
                      alt: section.settings.icon_image.alt
                  }}
                  {%- liquid
                    assign sizes = '100vw'
                    assign widths = '128'
                    assign image_classes = 'tw-m-0 tw-max-w-16 tw-max-h-16 product-benefits__iconography paw2 tw-w-full tw-absolute'
                    assign fetch_priority = 'auto'
                    assign lazy_loading = 'lazy'
                  -%}
                  {{
                    section.settings.icon_image
                    | image_url: width: '128'
                    | image_tag:
                      class: image_classes,
                      sizes: sizes,
                      widths: widths,
                      fetchpriority: fetch_priority,
                      loading: lazy_loading,
                      alt: section.settings.icon_image.alt
                  }}
                </div>
              {%- endif -%}
              {%- liquid
                assign sizes = '100vw'
                assign widths = '512, 1024, 2048'
                assign image_classes = 'product-benefits__image tw-w-full'
                assign fetch_priority = 'auto'
                assign lazy_loading = 'lazy'
              -%}
              {{
                benefit.image
                | image_url: width: '512, 1024, 2048'
                | image_tag:
                  class: image_classes,
                  sizes: sizes,
                  widths: widths,
                  fetchpriority: fetch_priority,
                  loading: lazy_loading,
                  alt: benefit.image.alt
              }}
            </div>
          {%- endif -%}
          <div class='benefit-content tw-w-full tw-grid tw-gap-4 tw-text-center {% cycle 'md:tw-text-left', 'md:tw-text-right md:tw-mr-10 lg:tw-mr-24' %}'>
            {%- if benefit.icon != blank -%}
              <div class='product-benefits__icon_wrapper tw-justify-self-center {% cycle 'md:tw-justify-self-start', 'md:tw-justify-self-end' %}'>
                {%- liquid
                  assign sizes = '100vw'
                  assign widths = '128, 256, 512'
                  assign image_classes = 'tw-m-0 tw-max-w-16 tw-max-h-16 product-benefits__icon tw-w-full'
                  assign fetch_priority = 'auto'
                  assign lazy_loading = 'lazy'
                -%}
                {{
                  benefit.icon
                  | image_url: width: '128, 256, 512'
                  | image_tag:
                    class: image_classes,
                    sizes: sizes,
                    widths: widths,
                    fetchpriority: fetch_priority,
                    loading: lazy_loading,
                    alt: benefit.title
                }}
              </div>
            {%- endif -%}
            {%- if benefit.title != blank -%}
              <h3 class='h2 tw-m-0 tw-mb-2'>{{ benefit.title | escape }}</h3>
            {%- endif -%}
            {%- if benefit.description != blank -%}
              <div class='tw-base md:tw-text-xl tw-m-0'>{{ benefit.description | metafield_tag }}</div>
            {%- endif -%}
          </div>
        </div>
      {% endfor %}
      <div class='product_benefits__cta center{% if section.settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}'>
        <a
          href='#MainContent'
          class='button tw-font-semibold tw-px-16 tw-py-8 tw-max-w-full md:tw-px-36 tw-text-2xl'
          style=''
        >
          Shop Now
        </a>
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Benefit Image & Text 1/2",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "animations_reveal_on_scroll",
      "label": "t:sections.benefits-inline.settings.animations_reveal_on_scroll.label",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "icon_image",
      "label": "Icon or extra image used add visual elements around images"
    },
    {
      "type": "text",
      "id": "benefits_header",
      "label": "Section Header",
      "default": "Key Benefits"
    },
    {
      "type": "header",
      "content": "Custom Page Width"
    },
    {
      "type": "range",
      "id": "custom_page_width",
      "min": 990,
      "max": 1920,
      "step": 10,
      "unit": "px",
      "label": "Custom Page Width",
      "default": 1100
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Benefit Image & Text 1/2",
      "category": "Custom"
    }
  ]
}
{% endschema %}
