{%- style -%}
  .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
          padding-top: {{ section.settings.padding_top }}px;
          padding-bottom: {{ section.settings.padding_bottom }}px;
      }
  }

  {% if section.settings.border_on_top or section.settings.border_on_bottom %}
    #section-{{ section.id }} {
        border-color: rgba(var(--color-foreground), 0.06);
    }
  {% endif %}
  .submenu__wrapper {
    --gap-spacing: 1rem;
    gap: var(--gap-spacing);
  }
  .submenu__item {
      --item-width: calc((100% - (var(--gap-spacing) * 4)) / 5); /* 5 items, 4 gaps */
      color: rgba(var(--color-foreground), 0.75);
      transition: all var(--duration-short) ease;
      width: var(--item-width);
      flex-basis: var(--item-width);
  }

  .submenu__item:last-child {
      margin-right: 0; /* Remove the gap for the last item */
  }

  .submenu__item:hover {
      color: rgb(var(--color-foreground));
  }

  .submenu__item:hover .submenu__badge {
      background-color: rgba(var(--color-button), 0.95);
      background-color: color-mix(in srgb, rgb(var(--color-button)), black 5%);
  }

  .submenu__item-image {
      border: 0.25rem solid rgba(var(--color-foreground), 0.75);
      transition: all var(--duration-short) ease;
  }

  .submenu__item-image:hover {
      border: 0.1rem solid rgba(var(--color-foreground), 0.75);
  }

  .submenu__badge {
      background-color: rgb(var(--color-button));
      color: rgb(var(--color-button-text));
      padding: 0.1rem 0.45rem;
      text-shadow: 2px 0px 2px rgba(0,0,0,0.11);
  }

  .submenu__item-text {
      line-height: calc(1 + 0.3 / var(--font-body-scale));
  }
  @media screen and (min-width: 990px) {
    .submenu__wrapper {
      --gap-spacing: 3rem;
    }
    .submenu__item {
      width: auto;
      flex-basis: content;
    }
    .submenu__item-image {
      border: 1rem;
    }
  }
{%- endstyle -%}

{%- liquid
  assign animate_scroll = false
  if section.settings.animations_reveal_on_scroll
    if section.settings.animations_reveal_on_scroll_hp_only and template.name == 'index'
      assign animate_scroll = true
      unless section.settings.animations_reveal_on_scroll_hp_only
        assign animate_scroll = true
      endunless
    endif
  endif
-%}

<div
  id='section-{{ section.id }}'
  class='section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} gradient {% if section.settings.border_on_top %} tw-border-t {% endif %}{% if section.settings.border_on_bottom %} tw-border-b {% endif %}'
>
  <div class='page-width submenu__wrapper tw-mx-auto tw-flex tw-flex-wrap tw-shrink-0 tw-grow tw-justify-center tw-items-start'>
    {%- for block in section.blocks -%}
      <a
        href='{{ block.settings.link }}'
        class='submenu__item tw-relative tw-text-center lg:tw-text-left tw-flex tw-flex-col lg:tw-flex-row tw-gap-3 tw-items-center tw-justify-center{% if animate_scroll %} scroll-trigger animate--slide-in{% endif %}'
        {{ block.shopify_attributes }}
        {% if animate_scroll %}
          data-cascade
          style='--animation-order: {{ forloop.index }};'
        {% endif %}
      >
        {%- assign image = block.settings.image -%}
        {%- assign image_widths = '350,750' | split: ',' -%}

        {%- if image != blank -%}
          <div class='lg:tw-hidden lg:tw-h-8 tw-flex tw-items-center tw-justify-center'>
            <img
              srcset='
                {% for width in image_widths %}
                  {{ image | image_url: width }} {{ width }}w
                  {% unless forloop.last %},{% endunless %}
                {% endfor %}, {{ image | image_url }} {{ image.width }}w
              '
              sizes='(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw'
              src='{{ image | image_url: width: 750 }}'
              loading='lazy'
              fetchpriority='high'
              width='{{ image.width }}'
              height='{{ image.height }}'
              alt='{{ image.alt | escape }}'
              class='submenu__item-image tw-w-full tw-h-full tw-rounded-full tw-object-cover tw-aspect-square'
            >
          </div>
        {%- endif -%}

        <span class='submenu__item-text tw-font-semibold tw-text-xs md:tw-text-smd'>
          {%- if block.settings.badge_text != blank -%}
            <span class='submenu__badge tw-absolute lg:tw-relative tw-m-0 lg:tw-mr-3 tw-top-1 lg:tw-top-[-1px] tw-right-0  tw-text-xs tw-font-bold tw-uppercase tw-rounded tw-px-2 tw-py-1'>
              {{- block.settings.badge_text -}}
            </span>
          {%- endif -%}
          {{ block.settings.text }}
        </span>
      </a>
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Sub-menu",
  "class": "submenu",
  "enabled_on": {
    "groups": ["header"]
  },
  "max_blocks": 5,
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-2"
    },
    {
      "type": "checkbox",
      "id": "animations_reveal_on_scroll",
      "label": "Animate reveal on scroll",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "animations_reveal_on_scroll_hp_only",
      "label": "Only animate reveal on scroll on the homepage?",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "border_on_top",
      "label": "t:sections.benefits-inline.settings.border_on_top.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "border_on_bottom",
      "label": "t:sections.benefits-inline.settings.border_on_bottom.label",
      "default": false
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 10
    }
  ],
  "blocks": [
    {
      "type": "submenu_item",
      "name": "Menu item",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Menu item text",
          "default": "Menu item"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Menu item link"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Menu item image (mobile only)"
        },
        {
          "type": "text",
          "id": "badge_text",
          "label": "Badge text",
          "default": "New"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Sub-menu",
      "category": "Custom"
    }
  ]
}
{% endschema %}
