{%- if section.settings.animations_reveal_on_scroll -%}
  <script src='{{ 'animations.js' | asset_url }}' defer='defer'></script>
{%- endif -%}

{%- style -%}
  .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
          padding-top: {{ section.settings.padding_top }}px;
          padding-bottom: {{ section.settings.padding_bottom }}px;
      }
  }

  {% if section.settings.border_on_top or section.settings.border_on_bottom %}
    #section-{{ section.id }} {
        border-color: rgba(var(--color-foreground), 0.1);
    }
  {% endif %}

  .submenu__badge {
    background-color: rgb(var(--color-button));
    color: rgb(var(--color-button-text));
    font-size: 1rem;
    padding: 0.1rem 0.45rem;
    border-radius: 4px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .submenu__item-text{
    font-size: 1rem;
    line-height: 1;
  }

  @media screen and (min-width: 750px) {
      .submenu__item-text{
      font-size: 1.4rem;
      line-height: 1;
      }
  }

  .submenu__item-image {
      display: block;
  }

  @media screen and (min-width: 750px) {
      .submenu__item-image {
          display: none;
      }
  }
{%- endstyle -%}

<div
  id='section-{{ section.id }}'
  class='section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} gradient {% if section.settings.border_on_top %} tw-border-t {% endif %}{% if section.settings.border_on_bottom %} tw-border-b {% endif %}'
>
  <div class='page-width{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} tw-mx-auto tw-flex tw-flex-wrap tw-justify-center'>
    {%- for block in section.blocks -%}
      <a
        href='{{ block.settings.link }}'
        class='submenu__item tw-mx-4 tw-my-1 tw-flex tw-items-center tw-gap-4'
        {% if section.settings.animations_reveal_on_scroll %}
          data-scroll-trigger
        {% endif %}
      >
        <span class='submenu__item-text tw-font-medium'>
          {%- if block.settings.badge_text != blank -%}
            <span class='submenu__badge tw-mr-4'>{{ block.settings.badge_text }}</span>
          {%- endif -%}
          {{ block.settings.text }}
        </span>
        {%- if block.settings.image != blank -%}
          <img
            srcset='
              {% if block.settings.image.width >= 350 %}{{ block.settings.image | image_url: width: 350 }} 350w,{% endif %}
              {% if block.settings.image.width >= 750 %}{{ block.settings.image | image_url: width: 750 }} 750w,{% endif %}
              {% if block.settings.image.width >= 1100 %}{{ block.settings.image | image_url: width: 1100 }} 1100w,{% endif %}
              {{ block.settings.image | image_url }} {{ block.settings.image }}w
            '
            sizes='(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw'
            src='{{ block.settings.image | image_url: width: 1100 }}'
            loading='eager'
            fetchpriority='high'
            width='{{ block.settings.image.width }}'
            height='{{ block.settings.image.height }}'
            alt='{{ block.settings.image.alt | escape }}'
            class='submenu__item-image tw-block tw-w-12 tw-h-12 tw-rounded-full tw-object-cover'
          >
        {%- endif -%}
      </a>
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Sub-menu",
  "class": "submenu",
  "enabled_on": {
    "groups": ["header"]
  },
  "max_blocks": 6,
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-2"
    },
    {
      "type": "checkbox",
      "id": "animations_reveal_on_scroll",
      "label": "Animate reveal on scroll",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "border_on_top",
      "label": "t:sections.benefits-inline.settings.border_on_top.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "border_on_bottom",
      "label": "t:sections.benefits-inline.settings.border_on_bottom.label",
      "default": false
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 10
    }
  ],
  "blocks": [
    {
      "type": "submenu_item",
      "name": "Menu item",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Menu item text",
          "default": "Menu item"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Menu item link"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Menu item image (mobile only)"
        },
        {
          "type": "text",
          "id": "badge_text",
          "label": "Badge text",
          "default": "New"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Sub-menu",
      "category": "Custom"
    }
  ]
}
{% endschema %}
